.jumbotron {
  margin: auto;
  width: 90%;
  box-shadow: 10px 10px 15px -5px lightgrey;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
input {
  margin-bottom: 2.5em;
  box-shadow: 10px 10px 15px -5px lightgrey;
  border: lightgrey solid 1px;
  border-radius: 4px;
}
.my-container {
  margin: auto;
  width: 90%;
}
.card {
  box-shadow: 10px 10px 15px -5px lightgrey;
  margin-bottom: 2em;
}
.card:hover {
  transform: scale(1.05);
}
.item-img {
  width: 16%;
  height: 16%;
  margin: auto 41%;
  margin-top: 5px;
}
.item-price {
  color: green;
}
.target-logo {
  color: red;
}
.amazon-logo {
  color: rgb(15, 160, 217);
}
.item-desc {
  float: right !important;
}
.card-body {
  padding: 0px;
  margin-bottom: -10px;
}
a {
  color: black;
}
.btn {
  position: relative;
  bottom: 2px;
  margin-bottom: 2.5em;
  box-shadow: 10px 10px 15px -5px lightgrey;
  border: lightgrey solid 1px;
  border-radius: 4px;
}
form {
  margin-top: 2em;
}
.walmart-name {
  color: rgb(245, 170, 57);
}
.col-9 {
  margin: auto 12%;
}