body {
  background-color: rgb(238, 240, 243);
}
.jumbotron {
  margin: auto;
  width: 90%;
  box-shadow: 0px 3px 6px 0px darkgray;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-image: url("https://cdn3.iconfinder.com/data/icons/black-friday-astute-vol-1/512/Compare_Prices-512.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: right 25%;
  background-color: white;
}
input {
  margin-bottom: 2.5em;
  box-shadow: 0px 3px 6px 0px darkgray;
  border: lightgrey solid 1px;
  border-radius: 4px;
}
.my-container {
  margin: auto;
  width: 77%;
}
.card {
  box-shadow: 0px 3px 6px 0px darkgray;
  margin-bottom: 2em;
}
.card:hover {
  transform: scale(1.05);
}
.item-img {
  width: 30%;
  height: 30%;
  margin: auto 37%;
  margin-top: 5px;
}
.item-price {
  color: green;
}
.target-logo {
  color: red;
}
.amazon-logo {
  color: rgb(253, 140, 36);
}
.item-desc {
  float: right !important;
}
.card-body {
  padding: 1px;
  margin-bottom: -10px;
}
a {
  color: black;
}
.btn {
  position: relative;
  bottom: 2px;
  margin-bottom: 2.5em;
  border: lightgrey solid 1px;
  border-radius: 4px;
  background-color: rgb(253, 60, 64) !important;
}
form {
  margin-top: 2em;
}
.walmart-name {
  color: rgb(245, 170, 57);
}
.col-9 {
  margin: auto 12%;
}
.navbar {
  background-color: rgb(253, 60, 64) !important;
  box-shadow: 0px 3px 6px 0px darkgray;
}
.nav-link, .navbar-brand {
  color: white !important;
}
.walmart-header {
  color: rgb(4, 102, 190);
}